/* urbanist google font */
 @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #009d9a;
  --color-secondary: #003366;
 } 
 
 body{
   font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }  


/* Menu styling */
.menu li > a {
  margin: 5px;
  text-decoration: none;
  transition: all 0.2s;
}

/* Active link styling */
.menu li > a.active {
  background-color:  #E5E7EB; 
  color: #000000  !important; 
  
}